doctype html
html
    include ../share/head
    body
        include ../share/header
        div(class="container text-center pt-2")
            h1 Welcome to Lannister Pay!
            h3 请使用支付宝、微信、QQ 扫码，测试聚合收款的效果：
            div(class="container")
                img(class="img-thumbnail img-responsive" src='/static/my/one.png' style="width:35%" alt="lannister pay 测试")
        include ../share/footer