doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title LannisterPay
    body
        - var src = '/static/my/' + img
        div
            img(src=src style="max-width:100%")