doctype html
html
    include ../share/head
    body
        include ../share/header
        div(class="container text-center pt-2")
            h1 Welcome to Lannister Pay!
            h3 <a href="https://paysapi.com" target=_blank>PaysApi</a>支付演示
            p #{data}
                <div class="container">
        div(class="card-deck mb-3 text-center")
            div(class="card mb-4 box-shadow")
                div(class="card-header")
                    h4(class="my-0 font-weight-normal") 鼓励LannisterPay
                div(class="card-body")
                    h1(class="card-title pricing-card-title") ¥1.88
                    ul(class="list-unstyled mt-3 mb-4")
                        li 感谢支持！
                        li 欢迎PR和Issue！
                        li 欢迎提出Bug！
                        li 求UI高手设计页面！
                    button(type="button" class="btn btn-lg btn-block btn-outline-primary") Sign up for free
            div(class="card mb-4 box-shadow")
                div(class="card-header")
                    h4(class="my-0 font-weight-normal") 打赏LannisterPay
                div(class="card-body")
                    h1(class="card-title pricing-card-title") ¥8.88
                    ul(class="list-unstyled mt-3 mb-4")
                        li 感谢支持！
                        li 欢迎PR和Issue！
                        li 欢迎提出Bug！
                        li 求UI高手设计页面！
                    button(type="button" class="btn btn-lg btn-block btn-outline-primary") Sign up for free
            div(class="card mb-4 box-shadow")
                div(class="card-header")
                    h4(class="my-0 font-weight-normal") 支持LannisterPay
                div(class="card-body")
                    h1(class="card-title pricing-card-title") ¥18.88
                    ul(class="list-unstyled mt-3 mb-4")
                        li 感谢支持！
                        li 欢迎PR和Issue！
                        li 欢迎提出Bug！
                        li 求UI高手设计页面！
                    button(type="button" class="btn btn-lg btn-block btn-outline-primary") Sign up for free
            div(class="card mb-4 box-shadow")
                div(class="card-header")
                    h4(class="my-0 font-weight-normal") 土豪包养LannisterPay
                div(class="card-body")
                    h1(class="card-title pricing-card-title") ¥1888
                    ul(class="list-unstyled mt-3 mb-4")
                        li 感谢支持！
                        li 欢迎PR和Issue！
                        li 欢迎提出Bug！
                        li 求UI高手设计页面！
                    button(type="button" class="btn btn-lg btn-block btn-outline-primary") Sign up for free
                       
        include ../share/footer