div(class="container-fluid bg-light text-dark")
    hr(class="py-1")
    footer(class="center-on-small-only")
        div(class="container")
            div(class="row")
                div(class="col-md-3 text-center")
                    a(href="https://lannisterpay.com" class="btn btn-outline-success" style="width:77%") &copy; Lannister Pay
                div(class="col-md-3 text-center")
                    a(href="#"  class="btn btn-outline-success " style="width:77%") 聚合支付N合一
                div(class="col-md-3 text-center")
                    a(href="https://github.com/i2j/lannisterpay" class="btn btn-outline-success " style="width:77%") 部署自己的服务
                div(class="col-md-3 text-center")
                    a(href="/donate" class="btn btn-outline-success " style="width:77%") 捐赠
            div(class="row pt-3")
                div(class="col-12 text-center")
                    p &copy; 2017 Copyright : <a href="https://awesomejs.org"> 大脑艾瑞克 </a>